.flavoroftheday-container{
    background-color: #eaeaea;
    margin: 0;
    padding: 2rem;
}

.flavoroftheday-title{
    font-weight: 400;
    font-size:1rem;
    margin: 0;
    color: #000;
    font-family: 'Lobster';
}

.flavoroftheday{
    margin: 0;
    color: #ba0016;
    font-size: 1.8rem;
    font-weight: 600;
    font-style: italic;
    font-family: 'Lobster';
}


.flavoroftheday-container hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ba0016aa;
    margin: 1rem auto;
    padding: 0;
    width: 40rem;
    box-shadow: 0 0 10px #ba0016ff;
}

.flavoroftheday-container hr:nth-child(3), .flavoroftheday-container hr:nth-child(7) {
    width: 30rem;
    border-top-color: #ba001666;
    box-shadow: 0 0 10px #ba001699;
}

.flavoroftheday-container hr:nth-child(2), .flavoroftheday-container hr:nth-child(8) {
    width: 20rem;
    border-top-color: #ba001644;
    box-shadow: 0 0 10px #ba001677;
}

.flavoroftheday-container hr:nth-child(2) {
    margin-top: 0.5rem;
}
