.flavors-container{
    background-color: #eaeaea;
    min-height: calc(100vh - 4.5rem);
    padding: 2rem 10%;
    max-width: 90rem;
    margin: 0 auto;
}

.flavors-table{
    background-color: #fff;
    border-radius: 7px;
    font-size: 14px;
    box-shadow: 0 1px 2px 0 #00000044;
}

.flavors-table>thead>tr>th{
    padding: 0.5rem;
    color: #000;
    background-color: #fff;
    border-radius: 7px;
    font-size: 1rem;
}

.flavors-table tbody{
    text-align: left;
}

.flavors-table>tbody>tr>td{
    padding: 8px 4px
}

.flavor-name-table{
    font-weight: 400;
}

.flavor-category-table{
    text-align: center;
    font-size: 1rem;
    font-weight: 600;
}

.flavor-count-table{
    text-align: center;
}

@media screen and (max-width: 763px) {
    .flavors-container{
        padding: 4rem 1%;
    }

    .flavors-table{
        font-size: 10px;
    }
    
    .flavors-table>thead>tr>th{
        padding: 0.3rem;
        font-size: 0.6rem;
    }

    .flavor-category-table{
        font-size: 0.7rem;
    }
}