.order-container{
    background-color: #f0f0f0;
    min-height: calc(100vh - 4.5rem);
    padding: 2rem 10%;
}

.order-table, .supplies-detail-table{
    background-color: #dedcdc;
    border-radius: 7px;
    font-size: 14px;
    box-shadow: 0 1px 2px 0 #00000044;
    margin: 1rem auto;
    width: 100%;
}

.order-table>thead>tr>th, .supplies-detail-table>thead>tr>th{
    padding: 0.5rem;
    color: #000;
    background-color: #fff;
    font-size: 1rem;
}

.order-table>tbody>tr>td, .supplies-detail-table>tbody>tr>td{
    padding: 6px 8px
}

.order-detail-flavor-header, .supplies-detail-item-header{   
    border-top-left-radius: 7px;
}

.order-detail-amount-header, .supplies-detail-amount-header{   
    border-top-right-radius: 7px;
}

.item-order-detail-row, .item-supplies-detail-row{
    background-color: #f4f4f4;
}

.total-row{
    font-weight: 700;
    font-size: 1rem;
    color: #ba0016;
    background-color: #fff;
}

.order-flavor-cell, .supplies-detail-item-cell{
    text-align: left;
}

.order-detail-total{
    border-bottom-left-radius: 7px;
}

.order-detail-total-number{
    border-bottom-right-radius: 7px;
}

.order-detail-subtitle{
    margin-top: 2rem;
    text-align: left;
}