
.select-label{
    margin-bottom: 5px;
    font-weight: bold;
    text-align: left;
    font-size: 0.9rem;
}

.description-box, .availability-box{
    display: flex;
    flex-direction: column;
    margin: 0 3rem 2rem;
}

.flavor-description, .flavor-availability{
    margin-right: auto;
    margin-bottom: 0;
    margin-top: 0.5rem;
    font-size: 1.1rem;
    font-weight: 500;
    color: #555;
    text-align: left;
}

.description-title, .availability-title{
    font-size: 0.9rem;
    margin-right: auto;
    margin-bottom: 0;
    margin-top: 0;
}

.modal-btn-container{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 0 3rem;
    margin-top: auto;
    align-items: center;
}

.modal-btn-container button{
    border: none;
    padding: 0.6rem;
    font-weight: 600;
    font-size: 1.2rem;
    border-radius: 0.5rem;
    cursor: pointer;
    width: 70%;
    color: #111;
}

.empty-bucket{
    background-color: #e88;
}

.save-bucket{
    background-color: #8e8;
}

.save-bucket:disabled{
    background-color: #beb;
    color: #666;
    cursor:auto;
}

@media screen and (max-width: 767px) {

    .description-box, .availability-box{
        display: flex;
        flex-direction: column;
        margin: 0 1rem 2rem;
    }

    .flavor-description, .flavor-availability{
        margin-right: auto;
        margin-bottom: 0;
        margin-top: 0.5rem;
        font-size: 1.1rem;
        font-weight: 500;
        color: #555;
        text-align: left;
    }

    .description-title, .availability-title{
        font-size: 0.9rem;
        margin-right: auto;
        margin-bottom: 0;
        margin-top: 0;
    }

    .modal-btn-container{
        display: flex;
        flex-direction: column;
        gap: 1rem;
        margin: 0 3rem;
        margin-top: auto;
        align-items: center;
    }

    .modal-btn-container button{
        border: none;
        padding: 0.6rem;
        font-weight: 600;
        font-size: 1.2rem;
        border-radius: 0.5rem;
        cursor: pointer;
        width: 70%;
        color: #111;
    }

    .empty-bucket{
        background-color: #e88;
    }

    .save-bucket{
        background-color: #8e8;
    }

    .save-bucket:disabled{
        background-color: #beb;
        color: #666;
        cursor:auto;
    }
}