.orders-container{
    background-color: #f0f0f0;
    min-height: calc(100vh - 4.5rem);
    padding: 2rem 10%;
}

.orders-table{
    background-color: #dedcdc;
    border-radius: 7px;
    font-size: 14px;
    box-shadow: 0 1px 2px 0 #00000044;
    margin: auto;
    width: 100%;
}

.orders-table>thead>tr>th{
    padding: 0.5rem;
   color: #000;
   background-color: #fff;
   font-size: 1rem;
}

.orders-table>tbody>tr>td{
    padding: 0.8rem 4rem
}

.orders-date-header{   
    border-top-left-radius: 7px;
}

#orders-actions-header{   
    background-color: #f0f0f0;
    border-top-right-radius: 7px;
}

.item-order-row{
    background-color: #f4f4f4;
}

.new-order-btn{
    margin-top: 2.5rem;
    padding: 0.5rem 1rem;
    font-size: 1rem;
}

#see-order-cell{
    padding: 0;
}

.see-order-btn{
    padding: 0.5rem 1rem;
}