.spacegrid-container{
    display: flex;
    padding: 1rem 0;
}

.total-box{
    background-color: #bbb;
    height: 250px;
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.total-spaces-tag{
    margin-top: auto;
    padding-bottom: 1rem;
    font-weight: 600;
}

.total-spaces-number{
    font-size: 7rem;
    margin: 0;
    font-weight: bold;
    margin: 2.5rem auto 0;
}

.refris-container{
    margin-left: 1rem;
    height: 250px;
    display: grid;
    grid-template-rows: repeat(2, auto);
    grid-auto-columns: minmax(100px, auto);
    align-content: space-between;
    gap: 10px;

}

.refri-box{
    background-color: #bbb;
    color: #000;
    height: 120px;
    width: 120px;
    display: flex;
    flex-direction: column;
    text-decoration: none;
}

.refri-spaces-number{
    font-size: 3rem;
    margin: 1.5rem auto 0;
    font-weight: bold;
}

.refri-spaces-tag{
    font-size: 0.9rem;
    margin-top: auto;
    font-weight: 600;
}

.slash-total{
    font-size: 0.9rem;
    font-weight:normal;
}