.header-container{
    display: flex;
    padding: 0 1rem;
    height: fit-content;
    align-items: center;
}

.logo-jauja{
    height: 2.3rem;
    margin: 0.5rem 0 0.5rem 1rem
}

.btn-container{
    margin-left: 1rem;
    margin: 0;
    display: flex;
    align-items: center;
    gap: 3rem;
    height: 3.3rem;
}

.header__li{
    list-style: none;
    height: 100%;
    display: flex;
    cursor: pointer;
}

.header__li a{
    height: 100%;
    display: flex;
    align-items: center;
}

.header__btn{
    background-color: transparent;
    font-size: 1rem;
    font-weight: 600;
    color: #000;
    text-decoration: none;
    margin: auto;
    align-self: center;
}

.logout-btn{
    margin-left: auto;
    cursor: pointer;
    background-color: #ba0016;
    color: #fff;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 8px;

}

@media screen and (max-width: 767px) {
    .header-container{
        padding: 0 0.5rem;
        height: fit-content;
        align-items: center;
        position: fixed;
        top: 0;
        background-color: #fff;
        width: 100vw;
    }
    
    .logo-jauja{
        height: 2rem;
        margin: 0.5rem
    }
    
    .btn-container{
        margin-left: 0;
        gap: 1rem;
        height: 3rem;
        padding: 2px 0.5rem;
        justify-content: space-evenly;
        width: 100%;
    }
    
    .header__li{
        list-style: none;
        height: calc(100% + 4px);
        display: flex;
        cursor: pointer;
        outline-width: 0 0 2px 0;
    }
    
    .header__li a{
        height: 100%;
        display: flex;
        align-items: center;
    }
    
    .header__btn{
        background-color: transparent;
        font-size: 0.8rem;
        font-weight: 600;
        color: #000;
        text-decoration: none;
        margin: auto;
        align-self: center;
    }
    
    .logout-btn{
        margin-left: auto;
        cursor: pointer;
        background-color: #ba0016;
        color: #fff;
        padding: 0.3rem 0.5rem;
        border: none;
        border-radius: 8px;
        font-size:0.7rem ;
    }
}