.refri-container{
    margin: 6rem 0;
    display: flex;
    flex-direction: column;
}

.refri-name-container{
    display: flex;
}

.refri-name{
    text-align: left;
    margin: auto 0.5rem;
    font-weight: bold;
}

.side-title{
    padding: 0.5rem;
    font-weight: 600;
    font-size: 0.9rem;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 1px 2px 0 #0000003a;
}

.view-mode-selector{
    cursor: pointer;
    right: 0;
    width: fit-content;
    margin-left: auto;
    margin-bottom: 0.5rem;
    margin-right: 1rem;
    padding: 0.8rem;
    border: none;
    background-color: #ba0016ee;
    color: #f3f3f3;
    font-weight: 500;
    font-size: 0.8rem;
    border-radius: 0.3rem;
    box-shadow: 0 1px 2px 0 #0000003a;
}

.view-mode-selector:hover{
    background-color: #ba0016ff;
}

.refri{
    background-color: #ffffff;
    min-height: 15rem;
    border-radius: 0.3rem;
    display: flex;
    /* border: 1px solid #aaa; */
    box-shadow: 0 1px 2px 0 #00000044;
}


.side-selector-container{
    display: flex;
    flex-direction: column;
    height:auto;
}

.side-up, .side-down{
    display: flex;
    height: 50%;
    align-content: center;
    border: none;
    background-color: transparent;
    cursor: pointer;
    
}

.side-up:active{
    box-shadow: inset 1px -1px 5px 0 #00000033;
}

.side-down:active{
    box-shadow: inset -1px 1px 5px 0 #00000033;
}

.arrow-container{
    margin: auto 2rem;
    padding: 0.5rem;
    border-radius: 50%;
    font-size: 3rem;
    color: #555;
}

.buckets-container{
    width: 100%;
    padding: 1.5rem 1rem;
    display: grid;
    grid-template-rows: repeat(2, auto);
    grid-auto-columns: minmax(100px, auto);
    align-content: space-between;
    justify-content: space-evenly;
    gap: 1rem;
}

.bucket{
    height: 90px;
    width: 90px;
    border-radius: 50%;
    vertical-align: middle;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.8rem;
    cursor: pointer;
    transition: all 0.08s;
}

.bucket:hover{
    /* transform: scale(1.02);
    box-shadow: -1px 1px 3px 0 #00000055; */
    backdrop-filter: brightness(0.9) blur(1.5rem);
}

.bucket-flavor{
    font-size: 0.9rem;
    font-weight: 500;
}

.bucket-amount{
    padding: 0 0.5rem;
    width: 10rem;
}

.bucket-flavor-name {
    font-size: 0.9rem;
}

.bucket-flavor-amount {
    font-weight: 800;
}

.under-container{
    display: flex;
    width: 100%;
    align-items: center;
    padding-top: 0.5rem;
}

.edit-refri{
    cursor: pointer;
    width: fit-content;
    height: fit-content;
    padding: 0.5rem 0.7rem;
    background-color: #fff;
    font-weight: 1000;
    font-size: 1rem;
    color: #ba0016;
    border-radius: 0.4rem;
    border: none;
    box-shadow: 0 1px 2px 0 #0000003a;
}

.refri-count{
    margin: 0.3rem 0.3rem auto auto;
    text-decoration: underline;
}
