.refri-container{
    margin: 6rem 0;
    display: flex;
    flex-direction: column;
}

.refri-name-container{
    display: flex;
}

.refri-name{
    text-align: left;
    margin: auto 0.5rem;
    font-weight: bold;
}

.side-title{
    padding: 0.5rem;
    font-weight: 600;
    font-size: 0.9rem;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 1px 2px 0 #0000003a;
}

.view-mode-selector{
    cursor: pointer;
    right: 0;
    width: fit-content;
    margin-left: auto;
    margin-bottom: 0.5rem;
    margin-right: 1rem;
    padding: 0.8rem;
    border: none;
    background-color: #ba0016ee;
    color: #f3f3f3;
    font-weight: 500;
    font-size: 0.8rem;
    border-radius: 0.3rem;
    box-shadow: 0 1px 2px 0 #0000003a;
}

.view-mode-selector:hover{
    background-color: #ba0016ff;
}

.refri{
    min-height: 15rem;
    border-radius: 0.3rem;
    display: flex;
    box-shadow: 0 1px 2px 0 #00000044;
}


.side-selector-container{
    display: flex;
    flex-direction: column;
    height:auto;
}

.side-up, .side-down{
    display: flex;
    height: 50%;
    align-content: center;
    border: none;
    cursor: pointer;
    background-color: transparent;
    
}

.side-up:active{
    box-shadow: inset 1px -1px 5px 0 #00000033;
}

.side-down:active{
    box-shadow: inset -1px 1px 5px 0 #00000033;
}

.arrow-container{
    margin: auto 1rem;
    padding: 0.5rem;
    border-radius: 50%;
    font-size: 3rem;
    color: #555;
}

.buckets-outer-container{
    display: flex;
    align-items: center;
    width: 100%;
}

.buckets-container{
    width: 100%;
    padding: 1.5rem 1rem 1.5rem 0;
    display: grid;
    grid-template-rows: repeat(2, auto);
    grid-auto-columns: minmax(100px, auto);
    align-content: space-between;
    justify-content: space-evenly;
    gap: 1rem;
    margin: auto;
}

.bucket{
    height: 120px;
    width: 120px;
    border-radius: 50%;
    vertical-align: middle;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.8rem;
    cursor: pointer;
}

.bucket:hover{
    backdrop-filter: brightness(0.9);
}

.bucket-flavor{
    font-size: 0.9rem;
    font-weight: 500;
}

.bucket-amount{
    padding: 0 0.5rem;
    width: 10rem;
}

.bucket-flavor-name {
    font-size: 0.9rem;
}

.bucket-flavor-amount {
    font-weight: 800;
}

.flavor-count{
    border-radius: 10px;
    text-align: center;
    /* width: fit-content; */
    padding: 0.5rem 0.8rem;
    box-shadow: 0 1px 2px 0 #0000003a;
    font-size: 0.9rem;
}

.flavor-count-number{
    font-weight: 600;
    font-size: 1.2rem;
    text-align: center;
    margin: 0;
}

.under-container{
    display: flex;
    width: 100%;
    align-items: center;
    padding-top: 0.5rem;
}

.edit-refri{
    cursor: pointer;
    width: fit-content;
    height: fit-content;
    padding: 0.5rem 0.7rem;
    background-color: #fff;
    font-weight: 1000;
    font-size: 1rem;
    color: #ba0016;
    border-radius: 0.4rem;
    border: none;
    box-shadow: 0 1px 2px 0 #0000003a;
}

.refri-count{
    margin: 0.3rem 0.3rem auto auto;
}

@media screen and (max-width: 1199px) {
    .buckets-container{
        padding: 1.5rem 1rem 1.5rem 0;;
        gap: 0.8rem;
    }
    .bucket{
        height: 100px;
        width: 100px;
    }

    
    .bucket-flavor{
        font-size: 0.8rem;
        font-weight: 500;
    }

    .bucket-amount{
        padding: 0 0.5rem;
    }

    .bucket-flavor-name {
        font-size: 0.9rem;
    }

}

@media screen and (max-width: 991px) {
    .refri{
        min-height: 12rem;
    }
    
    .arrow-container{
        margin: auto 1rem;
        padding: 4px;
        font-size: 2.5rem;
    }

    .buckets-outer-container{
        overflow-x:scroll;
    }

    .buckets-container{
        padding: 1rem 1rem 1rem 0;;
        gap: 6px;
    }

    .bucket{
        height: 90px;
        width: 90px;
    }

    
    .bucket-flavor{
        font-size: 12px;
        font-weight: 500;
    }

    .bucket-amount{
        padding: 0 0.5rem;
        width: 10rem;
    }

    .bucket-flavor-name {
        font-size: 0.9rem;
    }

    .bucket-flavor-amount {
        font-weight: 800;
    }
}

@media screen and (max-width: 767px) {
    .refri{
        min-height: 12rem;
    }

    .arrow-container{
        margin: auto 8px;
        padding: 2px;
        font-size: 2rem;
    }

    .buckets-outer-container{
        overflow-x:scroll;
    }

    .buckets-container{
        padding: 1rem 1rem 1rem 0;;
        gap: 4px;
    }

    .bucket{
        height: 90px;
        width: 90px;
    }

    .bucket-flavor{
        font-size: 12px;
        font-weight: 500;
    }

    .bucket-amount{
        padding: 0 0.5rem;
        width: 10rem;
    }

    .bucket-flavor-name {
        font-size: 0.9rem;
    }

    .bucket-flavor-amount {
        font-weight: 800;
    }
}

@media screen and (max-width: 575px) {
    .refri{
        min-height: 0;
        padding: 1rem;
    }

    .arrow-container{
        display: none;
    }

    .side-down, .side-up{
        display: none;
    }

    .buckets-outer-container{
        overflow-x:scroll;
        width: 100%;
    }

    .buckets-container{
        gap: 2px;
        grid-auto-columns: minmax(80px, auto);
        justify-content: space-between;
    }

    .bucket{
        height: 80px;
        width: 80px;
        margin: 0;
        border-radius: 0;
        padding: 0.5rem;
    }

    .bucket-flavor{
        font-size: 12px;
        font-weight: 500;
    }

    .bucket-amount{
        padding: 0 0.5rem;
        width: 10rem;
    }

    .bucket-flavor-name {
        font-size: 0.9rem;
    }

    .bucket-flavor-amount {
        font-weight: 800;
    }
}