.refri-container{
    margin: 4rem 0;
    display: flex;
    flex-direction: column;
}

.refri-name-container{
    display: flex;
}

.refri-name{
    text-align: left;
    margin: auto 0.5rem;
    font-weight: bold;
}

.side-title{
    padding: 0.5rem;
}

.view-mode-selector{
    cursor: pointer;
    right: 0;
    width: fit-content;
    margin-left: auto;
    margin-bottom: 0.5rem;
    padding: 0.8rem;
    border: none;
    background-color: #ba0016;
    color: #f3f3f3;
    font-weight: 600;
    font-size: 0.8rem;
    border-radius: 0.5rem;
}

.refri{
    background-color: #ffffff;
    min-height: 15rem;
    border-radius: 0.3rem;
    display: flex;
}


.side-selector-container{
    display: flex;
    flex-direction: column;
    height:auto;
}

.side-up, .side-down{
    display: flex;
    height: 50%;
    align-content: center;
    border: none;
    background-color: transparent;
    cursor: pointer;
    
}

.arrow-container{
    margin: auto 2rem;
    padding: 0.5rem;
    border-radius: 50%;
    font-size: 3rem;
    color: #555;

}

.buckets-container{
    width: 100%;
    padding: 1.5rem 1rem;
    display: grid;
    grid-template-rows: repeat(2, auto);
    grid-auto-columns: minmax(100px, auto);
    align-content: space-between;
    justify-content: space-evenly;
    gap: 1rem;
}

.bucket{
    height: 90px;
    width: 90px;
    border-radius: 50%;
    vertical-align: middle;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.8rem;
    font-weight: 600;
    cursor: pointer;
}

.bucket:hover{
    transform: scale(1.04);
    /* box-shadow: 0 1px 2px #777; */
}

.bucket-flavor{
    font-size: 0.9rem;
}

.bucket-amount{
    padding: 0 0.5rem;
    width: 10rem;
}

.bucket-flavor-name {
    font-size: 0.9rem;
}

.bucket-flavor-amount {
    font-weight: 800;
}

.under-container{
    display: flex;
    width: 100%;
    align-items: center;
}

.delete-refri{
    cursor: pointer;
    width: fit-content;
    height: fit-content;
    padding: 0.3rem 1.5rem;
    background-color: #ba0016;
    font-weight: 1000;
    font-size: 1rem;
    color: #fff;
    border-radius: 0.4rem;
    border: none;
}

.refri-count{
    margin-top: 0;
    margin-left: auto;
    margin-right: 0.5rem;
    padding: 0.5rem 0;
}
