.new-order-container{
    background-color: #eaeaea;
    min-height: calc(100vh - 4.5rem);
    padding: 2rem 10%;
}

.new-order-table, .supplies-table{
    background-color: #dedcdc;
    border-radius: 7px;
    font-size: 14px;
    box-shadow: 0 1px 2px 0 #00000044;
    margin: auto;
    width: 100%;
}

.new-order-table>thead, .supplies-table>thead{
    background-color: #fff;
}

.new-order-table>thead>tr>th, .supplies-table>thead>tr>th{
    padding: 0.5rem;
    color: #000;
    background-color: #fff;
    font-size: 1rem;
}

.new-order-flavor-header, .supplies-item-header{   
    border-top-left-radius: 7px;
}

.new-order-saved-header, .supplies-amount-header{   
    border-top-right-radius: 7px;
}

.new-order-table tbody, .supplies-table tbody{
    text-align: left;
}

.new-order-table>tbody>tr>td, .supplies-table>tbody>tr>td{
    padding: 6px 8px;
    font-size: 0.8rem;
}

.item-new-order-row, .item-supplies-row{
    background-color: #f0f0f0;
}

.saved-buckets{
    text-align: center;
    width: 5rem;
}

#new-order-input-cell, #supplies-input-cell{
    padding: 0;
    background-color: #ffffff;
    height: 2rem;
}

.new-order-input, .supplies-input{
    width: 100%;
    height: 100%;
    border: none;
}

.save-order-btn, .send-order-btn{
    margin-top: 2rem;
    font-size: 1rem;
    padding: 0.5rem 1rem;
}

.send-order-btn{
    cursor: not-allowed;
    margin-left: 2rem;
}

#new-order-total-amount, #new-order-total{
    font-size: 1.2rem;
    font-weight: 600;
    color: #ba0016;
    padding: 1rem 6px;
}